:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* Navbar */

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #333;
}
nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}
nav ul li {
  margin: 40px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Home */

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 15px;
}

/* Profile Picture */

.profilepic {
  border-radius: 50%;
  width: 400px;
  margin: 30px;
}

/* Social Icon */

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
  color: #333;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #000000;
}
.social i:hover {
  color: rgb(122, 122, 122);
}

/* About */

.about {
  text-align: center;
}

.profilepic_about {
  border-radius: 50%;
  width: 400px;
  margin: 30px
}

.subtopic_About {
  margin: 10px 10px 40px 20;
  text-align: center;
}

.signature_1 {
  color: black;
  font-size: 20px;
  font-family: Arial;
  text-align: right;
}

h1,h2,h3,h4 {
  font-size: 40;
  font-family: Arial;
}

p {
  font-size: 40;
  font-family: Arial;
}

/* Widecrad */

.subtopic_Resume {
  margin: 10px 10px 40px 20;
  text-align: center;
}

.widecard {
  display: flex;
  margin: 30px 0px 30px 0px;
  transition: .3s;
  border-radius: 10px;
  padding: .5rem;
}
.widecard:hover {
  color: #fff;
  background: #333;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

/* Skill */

.condiv_skills {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv_skills-flex);
}

.subtopic_skiills {
  margin: 10px 10px 40px 20;
  text-align: center;
}

.skill ul {
  display: flex;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}
.skills ul li {
  list-style: no;
}

/* Portfolio */
.condiv_portfolio {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv_skills-flex);
}


.active {
  font-weight: bolder;
}